@import "../smart-grid/smart-grid";
@import "vars";
@include reset;

// Стили шаблонов
@import "./views/header";

@import "media";

body {
  font-family: sans-serif;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  overflow-x: hidden;
  background-color: #f6f6f6;
}