@import "../smart-grid/smart-grid";
@import "vars";
@include reset;
body {
  font-family: sans-serif;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  overflow-x: hidden;
  background-color: $bgc;
}
a, a:visited {
  text-decoration: none;
  color: $linkColor;
}
a:hover, a:active, a:focus {
  color: darken($linkColor, 7%);
}

// Стили шаблонов
@import "views/header";

@import "media";

